<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Globaleur.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
				<key>dateExpires</key>
				<string>10/17/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC05C2D6A412E6CAFDCDDAE3A8079CBFB60EE232</string>
						<key>dateExpires</key>
						<string>10/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8F4K25QSW</string>
						<key>name</key>
						<string>MG Innovation Lab, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J8F4K25QSW.com.globaleur.globaleur</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J8F4K25QSW</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>J8F4K25QSW.com.globaleur.globaleur</string>
				</array>
			</dict>
			<key>name</key>
			<string>Globaleur.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>40c30db8-1664-467c-b587-af54f933eea4</string>
				<key>name</key>
				<string>Globaleur_Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J8F4K25QSW</string>
				<key>name</key>
				<string>MG Innovation Lab, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
